https://www.dicoding.com/academies/184/tutorials/8397?from=8387

- Cara melakukan klasifikasi data dengan teknik Decision Tree menggunakan dataset iris. https://www.kaggle.com/uciml/iris ==> link dataset
- Tahapan yang ada pada latihan ini antara lain:
1. Ubah dataset ke dalam dataframe.
2. Hapus kolom 'Id' pada dataframe dan pisahkan antara atribut dan label.
3. Buat dan latih model Decision Tree.
4. Lakukan prediksi dengan model yang telah dilatih.
5. Visualisasi model Decision Tree yang telah dilatih.

In [30]:
# Upload dulu file Iris_csv pada Files di sebelah kiri
import pandas as pd

from sklearn.datasets import load_iris

# membaca file iris.csv
iris = pd.read_csv('Iris.csv')

In [31]:
# Melihat informasi dataset
iris.head()

# melihat informasi dataset pada 5 baris pertama
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
# menghilangkan kolom yang tidak penting
iris.drop('Id',axis=1,inplace=True)

In [33]:
# memisahkan atribut dan label
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm' ]]
y = iris['Species']

# Membagikan dataset menjadi data latih & data uji
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [34]:
from sklearn.tree import DecisionTreeClassifier
 
# membuat model Decision Tree
tree_model = DecisionTreeClassifier() 
 
# melakukan pelatihan model terhadap data
tree_model.fit(X, y)

DecisionTreeClassifier()

In [35]:
# Evaluasi Model
from sklearn.metrics import accuracy_score

y_pred = tree_model.predict(X_test)

acc_score = round(accuracy_score(y_pred, y_test), 3)

print('Accuracy: ', acc_score)

Accuracy:  1.0

In [36]:
# prediksi model dengan tree_model.predict([[SepalLength, SepalWidth, PetalLength, PetalWidth]])
tree_model.predict([[6.2, 3.4, 5.4, 2.3]]) # ==> memasukan 4 fitur menghasilkan label Iris-virginica

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Iris-virginica'], dtype=object)

In [37]:
# Visualisasi dari decision tree yang kita buat terhadap data menggunakan library Graphviz
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "iris_tree.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica' ],
    rounded= True,
    filled =True
)
# Hasil dari graphviz adalah dot file yang berada pada Files di sebelah kiri, kemudian unduh dan lakukan konversi ke file png agar melihat visualisasi decision tree